<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/pwa_logo/logo48.png" type="image/png" />
    <title>PWA Image Creator</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap"
      rel="stylesheet"
    /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="/manifest.json" />
    {% if(mode == "light") %}
    <style>
      /* html,
      body {
        font-family: "Lato", sans-serif;
      } */
      html {
        font-family: "Chilanka", cursive;
      }
      body {
        font-family: "Chilanka", cursive;
      }
      img {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }
    </style>
    {% else %}
    <style>
      /* html,
      body {
        font-family: "Lato", sans-serif;
      } */
      html {
        font-family: "Chilanka", cursive;
      }
      body {
        font-family: "Chilanka", cursive;
        background-image: linear-gradient(
          to bottom right,
          #0c0f13,
          #0d2338,
          #4b4957
        );
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      /* body {
        background-color: black;
      } */
      img {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }
      .sidenav {
        background-image: linear-gradient(
          to bottom right,
          #0c0f13,
          #0d2338,
          #4b4957,
          #7a7983
        );
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
    {% endif %} {% block styles %}{% endblock styles %}
    <script>
      $(document).ready(function () {
        M.AutoInit();
      });
    </script>
  </head>
  <body>
    <nav class="white-text blue">
      <a href="#" data-target="slide-out" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="font-size: 130%">
          <!-- <img
            src="/pwa_logo/logo48.png"
            alt="img"
            style="height: 16px; width: 16px; margin-left: 5px"
          />
          <b>PIC</b> -->
          <b>PWA Image Creator</b>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="yellow-text"><b>{{user['email']}}</b></a>
          </li>
          <li>
            <a href="/"><b>Home</b></a>
          </li>
          <li>
            {% if(mode == "light") %}
            <a class="darkMode">
              <i class="small material-icons">brightness_2</i>
            </a>
            {% else %}
            <a class="lightMode">
              <i class="small material-icons">wb_sunny</i>
            </a>
            {% endif %}
          </li>
          <li>
            {% if(view == "normal") %}
            <a class="carouselView">
              <i class="small material-icons">view_carousel</i>
            </a>
            {% else %}
            <a class="normalView">
              <i class="small material-icons">format_list_bulleted</i>
            </a>
            {% endif %}
          </li>
          <li>
            <a class="waves-effect" href="/info">
              <i class="small material-icons">info_outline</i>
            </a>
          </li>
          <li>
            <a href="/logout"><b>Logout</b></a>
          </li>
        </ul>
      </div>
    </nav>

    {% if(mode == "light") %}
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/dps/bg.jpg" />
          </div>
          <a href="/"><img class="circle" src="/dps/{{user['dp']}}" /></a>
          <a href="/">
            <span class="white-text name">
              <a href="/">
                <span class="white-text name">{{ user['email'] }}</span>
              </a>
              <a>
                <span class="white-text name"><b>PWA Image Creator</b></span>
              </a>
            </span>
          </a>
        </div>
      </li>
      <li>
        <a class="waves-effect" href="/">
          <i class="small material-icons">home</i>Home
        </a>
      </li>
      <li>
        {% if(mode == "light") %}
        <a class="darkMode">
          <i class="small material-icons">brightness_2</i>Enable Dark Mode
        </a>
        {% else %}
        <a class="white-text lightMode">
          <i class="small material-icons white-text">wb_sunny</i>Enable Light
          Mode
        </a>
        {% endif %}
      </li>
      <li>
        {% if(view == "normal") %}
        <a class="carouselView">
          <i class="small material-icons">view_carousel</i> Enable Carousel
        </a>
        {% else %}
        <a class="normalView">
          <i class="small material-icons">format_list_bulleted</i> Disable
          Carousel
        </a>
        {% endif %}
      </li>
      <li>
        <a class="waves-effect" href="/info">
          <i class="small material-icons">info_outline</i>Info
        </a>
      </li>
      <!-- <li><div class="divider"></div></li> -->
      <li>
        <a class="waves-effect" href="/logout">
          <i class="small material-icons">power_settings_new</i>Logout
        </a>
      </li>
    </ul>
    {% else %}
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/dps/bg.jpg" />
          </div>
          <a href="/"><img class="circle" src="/dps/{{user['dp']}}" /></a>
          <a href="/">
            <span class="white-text name">
              <a href="/">
                <span class="white-text name">{{ user['email'] }}</span>
              </a>
              <a>
                <span class="white-text name"><b>PWA Image Creator</b></span>
              </a>
            </span>
          </a>
        </div>
      </li>
      <li>
        <a class="waves-effect white-text" href="/">
          <i class="small material-icons white-text">home</i>Home
        </a>
      </li>
      <li>
        {% if(mode == "light") %}
        <a class="darkMode">
          <i class="small material-icons">brightness_2</i>Enable Dark Mode
        </a>
        {% else %}
        <a class="white-text lightMode">
          <i class="small material-icons white-text">wb_sunny</i>Enable Light
          Mode
        </a>
        {% endif %}
      </li>
      <li>
        {% if(view == "normal") %}
        <a class="white-text carouselView">
          <i class="small material-icons white-text">view_carousel</i> Enable
          Carousel
        </a>
        {% else %}
        <a class="white-text normalView">
          <i class="small material-icons white-text">format_list_bulleted</i>
          Disable Carousel
        </a>
        {% endif %}
      </li>
      <li>
        <a class="waves-effect white-text" href="/info">
          <i class="small material-icons white-text">info_outline</i>Info
        </a>
      </li>
      <!-- <li><div class="divider"></div></li> -->
      <li>
        <a class="waves-effect white-text" href="/logout">
          <i class="small material-icons white-text">power_settings_new</i
          >Logout
        </a>
      </li>
    </ul>
    {% endif %} {% block content %}{% endblock content %} {% block scripts %}{%
    endblock scripts %}
    <script>
      $(document).ready(function () {
        // light-dark mode cnvertion
        $(".darkMode").click(function () {
          $.ajax({
            method: "get",
            url: "/changeMode/dark",
            success: function () {
              location.reload();
            },
          });
        });
        $(".lightMode").click(function () {
          $.ajax({
            method: "get",
            url: "/changeMode/light",
            success: function () {
              location.reload();
            },
          });
        });
        // normal-carousel view conversion
        $(".carouselView").click(function () {
          $.ajax({
            method: "get",
            url: "/changeView/carousel",
            success: function () {
              location.reload();
            },
          });
        });
        $(".normalView").click(function () {
          $.ajax({
            method: "get",
            url: "/changeView/normal",
            success: function () {
              location.reload();
            },
          });
        });
      });
    </script>
    <script src="/app.js"></script>
  </body>
</html>
