{% extends "base.html" %} {% block content %} {% if(mode=="light") %}
<h3 class="center blue-text">Hey There!</h3>
<div class="container">
  <div class="container">
    <h5 style="text-align: justify" class="black-text">
      As a full-stack PWA developer, I always felt that creating icons of
      various sizes (suitable for the manifest.json file) properly was a hecktic
      and time consuming task. And struggled almost every time to find set of
      proper sized icons. So, I felt the need of a better software that could
      help all the PWA developers like me.
      <br /><br />
      Through this app I have tried to solve the above problems. This
      application is also a PWA. It is very fluent, very fast and on top of all
      it is hassle free. The PWA logos for this app is generated through this
      app while this app was in test/development phase.
      <br /><br />
      Hopefully this App will solve a lot of time for all the PWA developers out
      there. This App generates all of set files (runner app, serviceWoeker,
      manifest) along with icons that are required to make a PWA work.
      <br /><br />
      Hope to add more and more features to this App in near future.
      <br /><br />
      Till then enjoy the current App and speed up your PWA development.
      <br /><br />
      <span class="right blue-text">
        -
        <a target="_blank" href="https://shouvikbajpayee.pythonanywhere.com/">
          Shouvik Bajpayee
        </a>
      </span>
    </h5>
  </div>
</div>
<br /><br /><br /><br />
{% else %}
<h3 class="center yellow-text">Hey There!</h3>
<div class="container">
  <div class="container">
    <h5 style="text-align: justify" class="white-text">
      As a full-stack PWA developer, I always felt that creating icons of
      various sizes (suitable for the manifest.json file) properly was a hecktic
      and time consuming task. And struggled almost every time to find set of
      proper sized icons. So, I felt the need of a better software that could
      help all the PWA developers like me.
      <br /><br />
      Through this app I have tried to solve the above problems. This
      application is also a PWA. It is very fluent, very fast and on top of all
      it is hassle free. The PWA logos for this app is generated through this
      app while this app was in test/development phase.
      <br /><br />
      Hopefully this App will solve a lot of time for all the PWA developers out
      there. This App generates all of set files (runner app, serviceWoeker,
      manifest) along with icons that are required to make a PWA work.
      <br /><br />
      Hope to add more and more features to this App in near future.
      <br /><br />
      Till then enjoy the current App and speed up your PWA development.
      <br /><br />
      <span class="right yellow-text">
        -
        <a
          class="yellow-text"
          target="_blank"
          href="https://shouvikbajpayee.pythonanywhere.com/"
        >
          Shouvik Bajpayee
        </a>
      </span>
    </h5>
  </div>
</div>
<br /><br /><br /><br />
{% endif %} {% endblock content %}
